#architecture-page {

	.inside-wrapper {
	}
	
	.videos-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		position: relative;
	}
	.video-item {
		color: white;
		font-family: CenturyGothic;
		font-size: 16px;
		letter-spacing: 0.6px;
		line-height: 20px;
		text-align: center;
		width: 40%;
		position: absolute;
		// &.left {
		// 	float: left;
		// }
		// &.right {
		// 	// float: right;
		// }
		.title {
			margin: 40px 0;
		}
		.description {
			margin: 40px 0;
		}
		.media {
			@extend .full;
			height: 200px;
			position: relative;
			& > * {
				position: absolute;
				@extend .full;
				@extend .top-left;
			}
			// video {
			// 	@include opacity(0);
			// 	@include anim(.8s, .6s, $easeOutExpo, scaleY(3), 50%, 0%);
			// }
			// &.active {
			// 	video {
			// 		@include opacity(1);
			// 		@include anim(.8s, 1.1s, $easeOutExpo, scaleY(1), 50%, 0%);
			// 	}
			// }
		}
	}
}